/* signup page start */
.signup_section {
  overflow-y: hidden;
  width: 100vw;
  height: calc(100vh - 120px);
  padding: 40px;
}
.signup_section .signup_image_section,
.signup_section .signup_form_section {
  width: 48%;
  height: 100%;
  padding: 40px;
  position: relative;
  background-color: #ffffff;
}
.signup_section .signup_form_section {
  /* min-height: 650px; */
}
.signup_section .signup_form_section h1 {
  margin-bottom: 30px;
}
.signup_form_wrap {
  position: relative;
  width: 80%;
  min-height: 650px;
}
.signup_form_wrap .signup_form {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.signup_form_wrap .signup_form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.signup_form_wrap .signup_form form div {
  margin-bottom: 20px;
}
.signup_form_wrap .signup_form form div input[type="text"],
.signup_form_wrap .signup_form form div input[type="password"] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: #efefef;
}
.signup_form_wrap .form_btn_wrap {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup_form_wrap .form_btn_wrap button {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: lightblue;
  cursor: pointer;
  margin-right: 20px;
}

.signup_form_wrap .signup_form input[type="submit"] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: skyblue;
}
.signup_form_wrap .signup_form .form_btn_wrap .prev_btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: skyblue;
}
.progress_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
}
.progress_wrap::before {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #efefef;
  content: "";
  top: 50%;
  left: 0;
}
.progress_bar {
  width: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-point);
}
.progress_wrap figure {
  z-index: 9990;
}
.progress_wrap .step {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 3px solid #efefef;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  z-index: 9997;
}
.progress_wrap .step.active {
  border: 3px solid var(--color-point);
  transition: 0.4s ease-in-out;
  background-color: var(--color-point);
  color: #ffffff;
}
.email_verify_wrap {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
}
.email_verify_wrap div {
  width: 100%;
}
.email_verify_wrap input {
  width: 50px;
  height: 50px;
  border: 1px solid skyblue;
  border-radius: 10px;
}
/* signup page end */
