/* signup page start */
.signup_section {
  /* overflow-y: hidden; */
  width: 100%;
  /* height: calc(100vh - 120px); */
  height: 100%;
  padding: 40px;
  position: relative;
  left: 0;
  top: 0;
}
.signup_section >div > div {
  width: 48%;
  /* height: 100%; */
  padding: 40px;
  background-color: var(--color-white);
}
.signup_section .signup_image_section{
  width: 48%;
}
.signup_section .signup_form_section{
  width: 48%;
}
.signup_section .signup_image_section figure{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.signup_section .signup_form_section h2 {
  margin-bottom: 80px;
  text-align: center;
}
.signup_section .signup_wrap{
  width: 100%;
}
.signup_form_wrap form {
  width: 100%;
}
.signup_form_wrap input[type=text],
.signup_form_wrap input[type=password]
{
  width: 100%;
  height: 50px;
}
.signup_form_wrap input[type=submit]{
  width: 100%;
  height: 50px;
}
.signup_form_wrap p {
  margin-bottom: 10px;
}
.userInfo_form div{
  width: 100%;
  height: 100%;
  padding:10px 0;
}
.userInfo_form label {
  margin-bottom: 15px;
}
.userInfo_form .signup-checkbox-wrap{
  width: 100%;
}
.userInfo_form .signup-checkbox-wrap input[type=checkbox]{
  width: 20px;
  height: 20px;
}
.userInfo_form .signup-checkbox-wrap .signup-term-link{
  text-decoration: underline;
  color: rgb(9, 149, 195);
}
.userInfo_form .signup-error-msg{
  color: rgb(254, 46, 46);
}
.userInfo_form .signup-seperate-liner{
  width: 100%;
  height: 1px;
  background-color: #777;
  padding:0;
  margin: 20px 0 30px 0;
}
.userInfo_form .email_verify_wrap{
  width: 100%;
  margin: 50px 0 20px 0;
}
.userInfo_form .email_verify_wrap input[type=text]{
  width: 65px;
  height: 65px;
  text-align: center;
}
.userInfo_form .form_btn_wrap{
  margin-top: 100px;
}
.userInfo_form .form_btn_wrap input[type=submit],
.userInfo_form .form_btn_wrap .prev_btn
{
  width: 46%;
  height: 50px;
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  background-color: var(--color-white);
  padding:0;
  margin:0;
}
.userInfo_form .signup_checkID_wrap figure{
  width: 30px;
  height: 30px;
}
.userInfo_form .signup_checkID_wrap figure img{
  transition: 0.4s all ease-in-out;
}
.userInfo_form .signup_checkID_wrap button{
  margin: 0;
  padding: 0;
}
.userInfo_form .signup_checkID_wrap input[type=text]{
  width: 91%;
}
.userInfo_form .signup_check_btn{
  margin: 10px 10px 0 0;
}
.progress_wrap {
  position: relative;
  margin-bottom: 70px
}
.progress_wrap::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color-lightgray);
}
.progress_bar {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 1px;
  left: 8%;
  background-color: var(--color-darkgray);
}
.progress_wrap .step.active::after{
  position: absolute;
  content:"";
  top:-22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
}
.progress_wrap .step span {
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--color-darkgray);
  border: 3px solid var(--color-darkgray);
  border-radius: 50%;
  z-index: 100;
  margin-bottom: 30px;
}
/* .progress_wrap .step.active span {
  border: 1px solid var(--color-gray);
  transition: 0.8s ease-in-out;
  background-color: var(--color-gray);
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:0;
}
.signup_success_icon{
  width: 100px;
  height: auto;
  margin-bottom: 30px;
}
.signup_success_btn{
  display: block;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: var(--color-lightgray);
}
.signup_result_wrap p{
  margin-bottom: 40px;
}
/* signup page end */

/* media-query */
/* mobile */
@media (max-width: 320px) {
}

/* tablet */
@media (max-width: 768px) {
  .signup_section {
    padding: 0;
  }
  .signup_section .signup_form_section {
    width: 100%;
  }
  .signup_section > div > div {
    padding: 20px;
  }
  .signup_section {
    padding: 0;
    height: calc(100vh - 120px);
  }
  .progress_wrap {
    margin-bottom: 30px;
  }
  .progress_wrap::before {
    width: 82%;
  }
  .userInfo_form .email_verify_wrap input[type=text] {
    width: 40px;
    height: 40px;
  }
  .progress_wrap::before {
    width: 86%;
  }
  .userInfo_form .email_verify_wrap input[type=text] {
    width: 40px;
    height: 40px;
  }
}

/* pc */
@media (max-width: 1024) {
  .progress_wrap::before {
    width: 90%;
  }
  .userInfo_form .email_verify_wrap input[type=text] {
    width: 40px;
    height: 40px;
  }
}

