@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{

}
html{
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
body{}

a{
  text-decoration: none;
  color:#000;
}
li{
  list-style: none;
}

.container{
  width: 100%;
  position: relative;
}
.container .inner{
  max-width: 1920px;
  padding: 0 20px;
  margin-top: 120px;
}
#header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
}
#header #nav{
  position: relative;
}
#header #nav .nav_info_section,
#header #nav .nav_menu_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
#header #nav .nav_info_section{
  border-bottom: 1px solid#dcdcdc;
  padding: 10px;
}
#header #nav .nav_info_section .family_site{
  display: flex;
}
#header #nav .nav_info_section .family_site li{

}
#header #nav .nav_info_section .family_site li:not(:last-child){
  margin-right: 15px;
}
#header #nav .user_info_wrap{
  position: relative;
}
#header #nav .user_info_wrap .login{
  display: flex;
  align-items: center;
}
#header #nav .user_info_wrap .login figure{
  width: 20px;
  height: 100%;
  max-height: 20px;
  margin-right: 10px;
}
#header #nav .user_info_wrap .login figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header #nav .user_info_wrap .login p:not(:last-child){
  margin-right: 15px;
}

#header #nav .nav_menu_section{
  position: relative;
  max-height: 110px;
}

#header #nav .nav_menu_section figure{
  width: 200px;
  height:100%;
}
#header #nav .nav_menu_section figure .main_logo{
  width: 100%;
  height: auto;
  object-fit: cover;
}
#header #nav .nav_menu_section .menu_list{
  display: flex;
}

#header #nav .nav_menu_section .menu_list li:not(:last-child){
  margin-right: 15px;
}
#header #nav .nav_menu_section .menu_list li a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: 700;
}
#header #nav .menu_list li{
  
}
#header #nav .menu_list li:not(:last-child){
  margin-right: 15px;
}
#header #nav .menu_list li a{
  font-size:1em;
  font-weight: 300;
}