@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/* reset --- */
:root {
  --color-main: #003b87;
  --color-light-main: #e2f4ff;
  --color-black: #232323;
  --color-darkgray: #898989;
  --color-gray: #d3d3d3;
  --color-lightgray: #e8e8e8;
  --color-background: #f5f5f5;
  --color-white: #ffffff;
  --color-point: #ffa800;
  --color-light-point: #ffe894;
  --color-red: #d93946;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  color: var(--color-black);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-white);
}
body {
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
input {
  height: 34px;
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
  padding: 8px 10px;
  margin: 0;
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  background-color: var(--color-white);
}
input:focus,
input:active {
  border: 1px solid var(--color-black);
  /* background-color: var(--color-lightgray); */
}
input[type="date"] {
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
input[type="date"]::before {
  content: attr(data-placeholder);
}
input + label {
  display: block;
  margin: 0 18px 0 3px;
}
button {
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
  padding: 8px 10px;
  margin: 0 8px;
  outline: none;
  border: 1px solid var(--color-darkgray);
  border-radius: 3px;
  background-color: var(--color-white);
  cursor: pointer;
}
select {
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
  padding: 3px 10px;
  margin-right: 18px;
  border: 1px solid var(--color-gray);
}
select option:focus,
select option:hover {
  background-color: var(--color-lightgray);
}
/* --- reset */

/* 공통 속성 class --- */
#wrap {
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  top: 80px;
  left: 0;
  min-height: 90vh;
  /* top: 100px; */
}
.inner {
  width: 98%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}
.inner > div {
  /* padding: 50px 0;
  margin: 50px 0; */
}
.transition {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.btn {
  display: block;
  padding: 8px 40px 8px 30px;
  color: var(--color-black);
  background: url(./assets/images/icon/arrow_b.png) no-repeat;
  background-position: top 50% right 10%;
  border: 1px solid var(--color-darkgray);
  border-radius: 3px;
  font-weight: 300;
  text-align: center;
}
.input_search_wrap {
  position: relative;
}
/* 검색(돋보기) 이미지 */
.input_search_wrap img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: 0;
}
.content_category {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-main);
  margin-bottom: 30px;
}
.content_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 66px;
}
.content_description {
  font-size: 1.2rem;
  font-weight: 300;
}
/* --- 공통 속성 class */

/* flex --- */
.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}
.justify_start {
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}
.justify_end {
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.justify_center {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.justify_between {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.align_center {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.flex_column {
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.flex .content_left_container,
.flex .content_right_container {
  width: 50%;
  padding: 10px;
}
/* --- flex */

/* nav_depth --- */
#wrap .nav_depth {
  /* #wrap > .inner .nav_depth */
  padding: 0;
  margin: 30px 0;
  font-size: 0.8rem;
}
.nav_depth figure {
  width: 10px;
  margin: 0 5px;
}
.nav_depth a figure img {
  width: 15px;
}
.nav_depth figure img {
  width: auto;
}
/* --- nav_depth */

/* aside--- */
aside {
  flex: 0 0 210px;
}
aside h2 {
  /* #wrap > .inner > .nav_depth + div > aside */
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.aside_nav {
  font-weight: 300;
  border-top: 2px solid var(--color-black);
}
.aside_nav a {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-lightgray);
}
.aside_nav li.aside_active a {
  background-color: var(--color-background);
  font-weight: 400;
}
/* --- aside */

/* aside 옆 section --- */
aside + section {
  /* #wrap > .inner > .nav_depth + div > aside + section */
  width: calc(100% - 260px);
  margin-left: 50px;
}
section h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.description {
  font-weight: 300;
  width: 100%;
  margin-bottom: 100px;
  padding: 10px;
  border: 1px solid var(--color-lightgray);
}
/* --- aside 옆 section */

/* form --- */
.form_wrap form ul {
  /* .form_wrap > form > ul > li > p + div > input + label */
  border-top: 1px solid var(--color-gray);
  margin-bottom: 50px;
}
.form_wrap form li {
  border-bottom: 1px solid var(--color-lightgray);
}
.form_wrap li > p {
  width: 180px;
  padding: 18px;
  font-weight: 500;
  background-color: var(--color-background);
}
.form_wrap li > div {
  padding: 10px 18px;
}
.form_wrap li > div > div {
  height: 40px;
}
.form_wrap li > div > div b {
  margin: 0 8px;
}
.form_wrap li > div > div span {
  font-size: 0.8rem;
  padding: 3px 18px;
  margin-right: 18px;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 3px;
}
/* --- form */

/* media-query */
.pc {
  display: block;
  padding: 0;
  margin: 0;
}
.mobile {
  display: none;
  padding: 0;
  margin: 0;
}

/* phone */
@media all and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .inner {
    min-width: 300px;
    padding: 0 10px;
    margin: auto;
  }
  .inner > div {
    padding: 20px 0;
    margin: 20px 0;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }

  /* tablet */
  @media all and (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 14px;
    }
    .inner {
      min-width: 740px;
      padding: 0 14px;
      margin: auto;
    }
    .pc {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  /* pc */
  @media all and (min-width: 1025px) {
  }
}
