.detail_page_wrap{
    width: 100%;
}
.detail_banner_section .inner{
    max-width: 1280px;
    position: relative;
}
.detail_banner_section{
    width: 100%;
    height: 200px;
    background-color: rgb(242, 242, 85);
    position: relative;
}
.detail_banner_section h2{
    text-align: right;
    padding: 30px 10px 0 0;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.account_card{
    position: absolute;
    left: 20px;
    border-radius: 30px;
    padding: 30px 20px;
    background-color: #fff;
    width: 300px;
    box-shadow: 3px 5px 8px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 8px -1px rgba(0,0,0,0.75);
}
.account_card_header figure{
    width: 50px;
    height: 50px;
}
.account_card_header figure img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.account_card_header h3{
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.4em;
}
.account_card_body{
    margin-top: 30px;
}
.account_card_body ul li{
    color: #777;
}
.account_card_body ul li:not(:last-child){
    margin-bottom: 10px;
}
.detail_main_section{
    margin: 150px 0;
}
.detail_main_section .inner{
    max-width: 1280px;
    padding: 0 20px;
}
.detail_main_section .inner h2{
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.detail_main_section .detail_search_wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
.detail_main_section .detail_search_wrap p{
    margin-top: auto;
}
.detail_main_section .detail_search_wrap .detail_search_form input{
    margin-right: 15px;
    height: 50px;
    border: 1px solid #999;
}
.detail_main_section .detail_search_wrap .detail_search_btn{
    padding: 12px;
    height: 50px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.detail_main_section .detail_search_wrap .detail_search_btn figure{
    width: 20px;
    height: 20px;
}
.detail_main_section .detail_search_wrap .detail_search_btn figure img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.detail_main_section .detail_record_wrap{
    padding-top:50px;
}
.detail_main_section .detail_record_wrap ul li{
    padding: 15px 20px;
    border: 1px solid #999;
    border-radius: 10px;
    text-align: center;
    color: #333;
}
.detail_main_section .detail_record_wrap ul li:not(:last-child){
    margin-bottom: 20px;
}
.detail_main_section .detail_record_wrap ul li .idx{
    width: 5%;
}
.detail_main_section .detail_record_wrap ul li .inout_dv{
    width: 5%;
}
.detail_main_section .detail_record_wrap ul li .trsc_tm{
    width: 15%;
}
.detail_main_section .detail_record_wrap ul li .desc{
    width: 20%;
}
.detail_main_section .detail_record_wrap ul li .trsc_amt{
    width: 20%;
}
.detail_main_section .detail_record_wrap ul li .bal{
    width: 25%;
}