@charset "utf-8";

section .form_wrap {
    margin-bottom: 50px;
}

section .description {
    margin-bottom: 50px;
}

.tab{
    color: var(--color-darkgray);
    font-weight: 500;
    border-bottom: 1px solid var(--color-lightgray);
    margin-bottom: 50px;
}
.tab li {
    cursor: pointer;
    position: relative;
    padding: 12px 32px;
    background-color: var(--color-background);
    border-top: 1px solid var(--color-lightgray);
    border-left: 1px solid var(--color-lightgray);
    border-right: 1px solid var(--color-lightgray);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.tab li.active {
    background-color: var(--color-white);
}
.tab li.active::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-white);
}

section form button {
    padding: 8px 38px;
}

.account_info {
    margin-bottom: 50px;
    font-size: .88rem;
}
.account_info  ul {
    border-top: 1px solid var(--color-lightgray);
}
.account_info li div {
    width: calc((100% - 360px) / 2);
    padding: 18px;
    border-bottom: 1px solid var(--color-lightgray);
}
.account_info .title {
    width: 180px;
    background-color: var(--color-background);
}

.btn_info {
    margin-bottom: 30px;
}
.btn_info button {
    font-size: .8rem;
    padding: 5px 28px;
}
.btn_info p {
    font-size: .8rem;
    font-weight: 300;
}
.result_data{
    margin-bottom: 80px;
}
.export_wrap{
    text-align: center;
}
.result_data ul li{
    border-bottom: 1px solid var(--color-lightgray);
}
.result_data ul li:first-child{
    padding: 20px 10px;
    background-color: var(--color-lightgray);
    border-top: 1px solid var(--color-darkgray);
    border-bottom: none;
}
.result_data ul li:first-child .account,
.result_data ul li:first-child .trscTm,
.result_data ul li:first-child .rmrk,
.result_data ul li:first-child .outMoney,
.result_data ul li:first-child .inMoney,
.result_data ul li:first-child .bal{
    text-align: center;
    padding:0;
}
.result_data ul li:not(:first-child)>div{
    width: 100%;
    height: 80px;
    padding:0 10px;
}
.result_data ul li>div:not(:last-child){
    border-right: 1px solid var(--color-lightgray);
}
.result_data ul li .account{
    flex: 23%;
}
.result_data ul li .trscTm{
    flex: 17%;
    text-align: center;
}
.result_data ul li .rmrk{
    flex: 15%;
    text-align: center;
}
.result_data ul li .outMoney{
    flex: 15%;
    text-align: right;
    color: rgb(246, 40, 40);
}
.result_data ul li .inMoney{
    flex: 15%;
    text-align: right;
    color: rgb(46, 46, 247);
}
.result_data ul li .bal{
    flex: 15%;
    text-align: right;
}
