@charset "utf-8";

/* 페이징 --- */
.pagingBtn li {
  padding: 10px;
}
.pagingBtn .disabled {
  color: var(--color-gray);
}
.pagingBtn .pagingBtnActive {
  color: var(--color-red);
  position: relative;
}
.pagingBtn .pagingBtnActive::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  height: 2px;
  background-color: var(--color-red);
}
.pagingBtn li:not(.disabled) a {
  cursor: pointer;
}
/* --- 페이징 */

/* 회원 목록 --- */
.admin_list h3 {
  margin-bottom: 50px;
}
.admin_list .list_wrap {
  text-align: center;
  margin-bottom: 30px;
}
.admin_list .list_wrap li {
  padding: 18px 0;
}
.admin_list .list_wrap li:not(:first-child) {
  border-bottom: 1px solid var(--color-lightgray);
}
.list_column {
  font-size: 0.88rem;
  background-color: var(--color-background);
}
.list_column > p:not(:last-child) {
  border-right: 1px solid var(--color-gray);
}
.admin_list .list_userCode {
  flex: 0 0 20%;
}
.admin_list .list_userNo {
  flex: 0 0 10%;
}
.admin_list .list_name {
  flex: 0 0 20%;
}
.admin_list .list_dept {
  flex: 0 0 20%;
}
.admin_list .list_email {
  flex: 0 0 30%;
}
/* --- 회원 목록 */

/* 회원 정보 --- */
.admin_detail h3 {
  margin-bottom: 50px;
}
.admin_detail li p {
  padding: 18px 8px;
  border-bottom: 1px solid var(--color-gray);
}
.admin_detail li p:first-child {
  flex: 0 0 20%;
  background-color: var(--color-background);
}
.admin_detail li p:last-child {
  flex: 0 0 80%;
}
/* --- 회원 정보 */

/* 계좌 열람 권한 관리 --- */
.inspectAccount h3 {
  margin-bottom: 50px;
}
.inspectAccount form>div:first-child {
  margin-bottom: 30px;
}
.inspectMemberData {
  font-size: .88rem;
  width: 50%;
}
.inspectMemberData .column {
  background-color: var(--color-background);
  border: none;
}
.inspectMemberData li {
  text-align: center;
  padding: 10px 0;
}
/* .inspectMemberData li:not(:last-child) {
  border-bottom: 1px solid var(--color-gray);
} */
.inspectMemberData > div {
  height: 400px;
  overflow: auto;
}
.list_userNo {
  width: 14%;
}
.list_name {
  width: 32%;
}
.list_dept {
  width: 14%;
}
.list_email {
  width: 40%;
}
.inspectAccountData {
  font-size: .88rem;
  width: 50%;
  position: relative;
}
.inspectAccountData .column {
  background-color: var(--color-background);
  padding: 10px 0;
}
.inspectAccountData > div p {
  height: 40px;
  padding: 10px 0;
}
.inspectAccountData > div .active > p {
  background-color: var(--color-darkgray);
  color: var(--color-white);
}
.list_acctDv {
  text-align: center;
  width: 30%;
}
.list_acctNo {
  width: 70%;
  padding-left: 10px;
}
ul.list_acctNo {
  height: 400px;
  overflow:auto; 
  position: absolute;
  top: 40px;
  left: 150px;
}
.list_acctNo figure {
  width: 16px;
  margin-right: 6px;
}
/* --- 계좌 열람 권한 관리 */

/* 로그인 기록 조회 --- */
.log_list h3 {
  margin-bottom: 50px;
}
.log_list .list_wrap {
  text-align: center;
  margin-bottom: 30px;
}
.log_list .list_wrap li {
  padding: 18px 0;
}
.log_list .list_wrap li:not(:first-child) {
  border-bottom: 1px solid var(--color-lightgray);
}
.log_list .list_name {
  flex: 0 0 20%;
}
.log_list .list_dept {
  flex: 0 0 20%;
}
.log_list .list_email {
  flex: 0 0 30%;
}
.log_list .list_time {
  flex: 0 0 30%;
}
/* --- 로그인 기록 조회 */

/* 메뉴 클릭 기록 조회 --- */
.click_list h3 {
  margin-bottom: 50px;
}
.dateTime {
  font-size: 0.88rem;
  font-weight: 300;
  color: var(--color-darkgray);
  text-align: right;
}
/* --- 메뉴 클릭 기록 조회 */
