.contents{
    width: 100%;
    height: 100%;
}
.contents_title{
    font-size: 2.5em;
    margin: 50px 0;
}
.content_left{
    width: 30%;
    position: relative;
}
.content_left h3{
    z-index: 9997;
    color: var(--color-main);
    font-size: 1.5rem;
}
.content_left figure{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}
.content_left figure img {
    height: auto;
}
.content_right{
    width: 70%;
}
.account_list{
    position: relative;
}
.account_list li {
    width: 100%;
    border-bottom: 2px solid var(--color-lightgray);
}
.account_list>li:first-child{
    padding-bottom: 1.4rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    border: none;
}
.account_list>li:first-child::after {
    position: absolute;
    top: 40px;
    display: block;
    content: "";
    width: 100%;
    height: 6px;
    background-color: var(--color-lightgray);
    border-radius: 10px;
}
.account_list .account_li {
    width: 100%;
    padding: 5px;
    background-color: var(--color-white);
    transition: all 0.4s ease-in-out;
}
.account_list .account_li:hover{
    background-color: var(--color-lightgray);
    transition: all 0.4s ease-in-out;
}
.account_list .idx{
    width: 10%;
}
.account_list .idx p {
    text-align: center;
}
.account_list .acct_no{
    width: 30%;
}
.account_list .loan_nm {
    width: 40%;
}
.account_list .loan_nm p {
    text-align: center;
}
.account_list .bal{
    width: 20%;
}
.account_list .bal p {
    text-align: right;
}
.account_list figure{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding:0;
}