@charset "UTF-8";

/* container --- */
.container {
  width: 100%;
  position: relative;
  margin-top: 120px;
}
/* --- container */

/* Navbar --- */
#header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#nav {
  position: relative;
}
#nav .logo {
  width: 100%;
}
#nav .nav_info_section {
  color: #666;
  background-color: #ffffff;
  font-weight: 400;
  padding: 5px 0;
}
/* family site */
.nav_info_section .family_site li {
  padding: 10px 0;
}
.nav_info_section .family_site li:not(:last-child) {
  margin-right: 15px;
}
.nav_info_section .family_site li a {
  display: inline-block;
  border-right: 2px solid #efefef;
  padding-right: 15px;
}
.nav_info_section .family_site li:last-child a {
  border: none;
}
/* member */
.user_info_wrap {
  position: relative;
}
.user_info_wrap .login figure {
  width: 20px;
  height: 100%;
  max-height: 20px;
  margin-right: 10px;
}
.user_info_wrap .login p:not(:last-child) {
  margin-right: 15px;
}
/* .top_gnb .user_info_wrap .login p:not(:last-child){
  margin:0;
} */
#nav .nav_inner {
  width: 1280px;
  padding: 0 20px;
}
/* menu */
.nav_menu_section {
  position: relative;
  background-color: #ffffff;
  border-top: 2px solid var(--color-lightgray);
  height: 80px;
}
.nav_menu_section figure {
  width: 46px;
  height: 46px;
}
.nav_menu_section .menu_list {
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}
.nav_menu_section .menu_list > li {
  cursor: pointer;
  width: 100px;
  float: left;
  position: relative;
}
.nav_menu_section .menu_list > li:hover {
  text-decoration: underline;
}
.nav_menu_section .menu_list > li:not(:last-child) {
  margin-right: 30px;
}
.nav_menu_section .menu_list > li > a {
  display: block;
  width: 100%;
  height: 80px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}
/* 수정 시작 */
.nav_menu_section .menu_list .dropmenu_wrap .dropdown {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #666;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav_menu_section .menu_list .dropmenu_wrap .dropdown.active {
  display: block;
}
.img_rotate{
  transform: rotate(180deg);
}
.nav_menu_section .menu_list .dropmenu_wrap .dropdown>li {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
  position: relative;
}
.nav_menu_section
  .menu_list
  .dropmenu_wrap
  .dropdown
  li:not(:first-child):after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  left: 9%;
  top: 0;
  background-color: #000;
}
.nav_menu_section .menu_list .dropmenu_wrap .dropdown li:hover {
  font-weight: 700;
}
.nav_menu_section .menu_list .dropmenu_wrap .dropdown>li>a {
  display: block;
  width: 100%;
  padding: 20px 0;
}

.login div{
  display: flex;
  align-items: center;
}
.login div:not(:last-child){
  margin-right: 20px;
}
.mobile_menu_icon{
  display: none;
  width: 23px;
  height: 23px;
  z-index: 9998;
}
.mobile_close_icon{
  display: none;
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-bottom: 25px;
}
.mobile_arrow_icon{
  display: none;
  width: 13px;
  height: 13px;
  margin:0;
}
.mobile_menu_wrap{
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top:0;
  right:0;
  z-index:9999;
  background-color: #8e8c8c;
}
.mobile_menu_wrap.active{
  display: block;
  animation: mobile-menu-slide 0.2s linear;
}
.mobile_menu_wrap .mobile_content{
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  z-index: 9999;
  padding: 30px;
}
.mobile_menu_wrap .mobile_content .top_gnb{
  z-index: 9999;
  background-color: var(--color-lightgray);
  padding: 8px 10px;
  border-radius: 10px;

}
.skeleton-img{
  width: 100%;
  height: 90%;
  opacity: 0.7;
  animation: mobile-menu-slide 1s linear infinite alternate;
}
@keyframes mobile-menu-slide {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.signup_text{
  font-size: 1.2em;
  font-weight: 700;
}
.top_gnb .signup_text:not(:last-child){
  padding-bottom: 20px;
}
.mobile_menu_list{
  margin-top: 15px;
  width: 100%;
}
.mobile_menu_list .mobile_menu{
  width: 100%;
}
.mobile_menu_list .mobile_menu>li{
  border-bottom: 1px solid #333;
}
.mobile_menu_list .mobile_menu li:first-child{
  border-top: 1px solid #333;
}
.mobile_menu_list .mobile_menu>li>a{
  font-size: 1.2em;
  font-weight: 700;
  display: block;
  height: 60px;
  width: 100%;
  line-height: 60px;
}
.mobile_menu_list .mobile_menu>li>a>div{
  height: 100%;
}
.mobile_menu .mobile_sub_menu .mobile_sub{
  display: none;
}
.mobile_menu .mobile_sub_menu .mobile_sub li{
}
.mobile_menu .mobile_sub_menu .mobile_sub li a{
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 0 10px 10px;

}
.mobile_menu .mobile_sub_menu .mobile_sub.active{
  display: block;
}
.mobile_menu .mobile_sub_menu .mobile_sub.active .mobile_menu{
  background-color: #000;
}

/* --- Navbar */

/* cover --- */
.cover_wrap {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: url();
  background-size: cover;
}
.cover_wrap::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}
.cover_wrap div {
  z-index: 5;
}
.cover_wrap div .cover_title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.cover_wrap div .cover_sub_title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}
/* --- cover */

/* footer --- */
footer {
  position: relative;
  top: 100px;
  background: var(--color-darkgray);
  padding: 30px 0;
  color: #ffffff;
}
footer img {
  width: 100%;
  cursor: pointer;
  object-fit: contain;
}
footer h1 {
  width: 10%;
}
footer h1 figure {
  width: 22px;
}
footer .pc {
  width: 40%;
}
footer .pc .footer_link_wrap {
  width: 100%;
}
footer .footer_link_wrap {
  width: 40%;
  padding: 0;
  margin: 0;
}
footer .mobile.footer_link_wrap {
  width: 50%;
}
footer .footer_contact_wrap {
  width: 10%;
  padding: 0;
  margin: 0;
}
footer .footer_contact_wrap a {
  margin: 0 4px;
}
.footer_contact_wrap figure {
  width: 30px;
}
/* --- footer */

/* loader --- */
.lds-facebook {
  display: absolute;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
.timer-icon-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
/* --- loader */

/* media-query */

/* phone */
/* @media all and (max-width: 767px) { */
@media (max-width: 360px) {
  footer h1 {
    width: 8%;
  }
  .footer_contact_wrap figure {
    width: 24px;
  }
  footer .footer_contact_wrap {
    width: 18%;
  }
  footer .mobile {
    margin: 0;
    padding: 0;
  }
}

/* tablet */
@media screen and (max-width: 1024px) {
  
  /* nav start */
  .family_site_wrap{
    display: none;
  }
  .user_info_wrap{
    display: flex;
    width: 100%;
  }
  .login{
    width: 100%;
    justify-content: space-between;
  }
  .signup_wrap .login{
    
  }
}
@media (max-width: 768px) {
  .user_info_wrap .login p:not(:last-child){
    margin: 0;
  }
  footer p,
  footer a {
    font-size: 9px;
  }
  footer .footer_contact_wrap {
    width: 20%;
  }
  /* bread */
  #wrap .nav_depth {
    display: none;
  }

  /* nav start */
  .nav_info_section{
    display: none;
  }
  .menu_list{
    display: none;
  }
  .mobile_menu_icon,
  .mobile_close_icon{
    display: block;
    cursor: pointer;
  }
  .mobile_arrow_icon{
    display: inline-block;
    transition: 0.2s all ease-in-out;
  }
  .mobile_menu_wrap{
    
  }
  .login{
    justify-content: flex-end;
  }
  .top_gnb{
    width: 100%;
    margin-bottom: 40px;
  }
  .top_gnb button{
    padding: 4px 8px;
  }
  .top_gnb .login div:not(:last-child){
    margin:0;
  }
  .top_gnb .login {
    align-items: flex-end;
    flex-direction: column;
  }
  .timer-icon-img{
    width: 15px;
    height: 15px;
  }
  .top_gnb .user_info_wrap .login>div{
    width: 100%;
  }
  .user_manage_wrap{
    padding-top: 20px;
  }
  .user_manage_wrap>div>p:not(:last-child){
    margin-right: 20px;
  }
  .mobile_logout_btn_wrap{
    display: none;
  }
  .signup_wrap{
    width: 100%;
  }
  .signup_wrap p {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  /* nav end */
  #wrap{
    top:0;
  }
}

/* pc */
/* @media all and (min-width: 1025px) {
  
} */