<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhsk.iam.domain.account.model.mapper.AccountApiMapper">
	
	<delete id="deleteAccounts">
		DELETE FROM account
	</delete>
	
	<insert id="insertAccounts" parameterType="java.util.List">
		INSERT INTO account (acct_no, bank_cd, bal, ib_type, acct_dv, loan_nm, 
		acct_nick_nm, agmt_amt, pyat_amt, pyat_dt, new_dt, expi_dt, repay_way, 
		cont_rt, dpsv_dv, loan_kind, cltr_ctt, int_payt_dt, curr_cd, real_amt)
		VALUES
		<foreach collection="list" item="account" separator=",">
			(
			#{account.acctNo}, #{account.bankCd}, #{account.bal}, #{account.ibType}, #{account.acctDv},
			#{account.loanNm}, #{account.acctNickNm}, #{account.agmtAmt},
			#{account.pyatAmt}, #{account.pyatDt}, #{account.newDt}, #{account.expiDt}, #{account.repayWay}, 
			#{account.contRt}, #{account.dpsvDv}, #{account.loanKind}, #{account.cltrCtt}, #{account.intPaytDt}, 
			#{account.currCd}, #{account.realAmt}
			)
		</foreach>
	</insert>
	
<!-- 	<insert id="insertInoutToday" parameterType="com.lhsk.iam.domain.account.model.vo.InoutApiVO"> -->
<!-- 		INSERT INTO inout_today(acct_no, bank_cd, inout_dv,  -->
<!-- 		trsc_dt, trsc_tm, bal, rmrk1, trsc_amt, curr_cd)  -->
<!-- 		VALUES(#{acctNo},#{bankCd},#{inoutDv},#{trscDt},#{trscTm},#{bal},#{rmrk1],#{trscAmt},#{currCd}) -->
<!-- 	</insert> -->

	<delete id="deleteInoutPast">
		DELETE FROM inout_past
	</delete>
	
	
	<insert id="insertInoutPast" parameterType="java.util.ArrayList">
		INSERT INTO inout_past(acct_no, bank_cd, inout_dv, 
		trsc_dt, trsc_tm, bal, rmrk1, trsc_amt, curr_cd) 
		VALUES
		<foreach collection="list" item="inout" separator=",">
			(
			#{inout.acctNo},#{inout.bankCd},#{inout.inoutDv},#{inout.trscDt}
			,#{inout.trscTm},#{inout.bal},#{inout.rmrk1},#{inout.trscAmt},#{inout.currCd}
			)
		</foreach>
	</insert>
	
	<insert id="insertTodayPast" parameterType="java.util.ArrayList">
		INSERT INTO inout_past(acct_no, bank_cd, inout_dv, 
		trsc_dt, trsc_tm, bal, rmrk1, trsc_amt, curr_cd) 
		VALUES
		<foreach collection="list" item="inout" separator=",">
			(
			#{inout.acctNo},#{inout.bankCd},#{inout.inoutDv},#{inout.trscDt}
			,#{inout.trscTm},#{inout.bal},#{inout.rmrk1},#{inout.trscAmt},#{inout.currCd}
			)
		</foreach>
	</insert>
	
	<select id="getTotal" parameterType="java.time.LocalDate" resultType="int">
		SELECT COUNT(*) FROM inout_past WHERE trsc_dt = #{date};
	</select>
	
	<select id="findAllUserAccount" resultType="UserAccountVO">
		SELECT user_no, acct_no, bank_cd FROM user_account
	</select>
	
	<insert id="insertBackupUserAccount" parameterType="java.util.List">
		INSERT INTO user_account (user_no, acct_no, bank_cd) 
		VALUES
			<foreach collection="list" item="info" separator=",">
				(#{info.userNo}, #{info.acctNo}, #{info.bankCd})
			</foreach>
	</insert>
	
</mapper>