<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.lhsk.iam.domain.user.model.mapper.LoginMapper">
	
	<select id="findUserById" parameterType="String" resultType="UserVO">
		SELECT user_no, id, name, password, user_code, email, dept FROM user WHERE id = #{id}
	</select>
	
	<insert id="insertLoginHistory">
	    INSERT INTO user_login (user_no, name, email, dept, login_dt)
	    VALUES (#{userNo}, #{name}, #{email}, #{dept}, #{loginDt})
	</insert>
	
</mapper>