<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.lhsk.iam.domain.report.model.mapper.ReportMapper">
	
	<select id="getUserInoutAcctReportData" parameterType="int" resultType="DailyInoutAcctReportVO">
		SELECT b.bank_nm, a.acct_no, a.acct_nick_nm,
		  SUM(CASE WHEN t.inout_dv = 2 THEN 1 ELSE 0 END) AS out_cnt,
		  SUM(CASE WHEN t.inout_dv = 2 THEN t.trsc_amt ELSE 0 END) AS total_out,
		  SUM(CASE WHEN t.inout_dv = 1 THEN 1 ELSE 0 END) AS in_cnt,
		  SUM(CASE WHEN t.inout_dv = 1 THEN t.trsc_amt ELSE 0 END) AS total_in,
		  a.agmt_amt AS loan_limit, a.bal AS bal, a.real_amt AS real_amt
		FROM account a
		JOIN bank_code b ON a.bank_cd = b.bank_cd
		JOIN user_account ua ON a.acct_no = ua.acct_no AND a.bank_cd = ua.bank_cd
		LEFT JOIN inout_today t ON a.acct_no = t.acct_no
		WHERE ua.user_no = #{userNo} and acct_dv = '01'
		GROUP BY b.bank_nm, a.acct_no, a.acct_nick_nm, a.agmt_amt, a.bal, a.real_amt;
	</select>
	
	<select id="getUserTimeAcctReportData" parameterType="int" resultType="TimeAcctReportVO">
		SELECT b.bank_nm, a.acct_no, a.acct_nick_nm,
		       a.loan_nm, a.agmt_amt,
		       a.expi_dt, a.cont_rt, a.bal
		FROM account a
		JOIN bank_code b ON a.bank_cd = b.bank_cd
		JOIN user_account u ON a.acct_no = u.acct_no AND a.bank_cd = u.bank_cd
		WHERE a.acct_dv = '02' AND u.user_no = #{userNo}
		GROUP BY b.bank_nm, a.acct_no, a.acct_nick_nm, a.loan_nm, a.agmt_amt, a.expi_dt, a.cont_rt, a.bal;
	</select>
	
	<select id="getUserLoanAcctReportData" parameterType="int" resultType="LoanAcctReportVO">
		SELECT b.bank_nm, a.acct_no, a.acct_nick_nm,
		     a.loan_nm, a.agmt_amt, a.bal,
		     a.new_dt, a.expi_dt, a.loan_kind
		FROM account a
		JOIN bank_code b ON a.bank_cd = b.bank_cd
		JOIN user_account u ON a.acct_no = u.acct_no AND a.bank_cd = u.bank_cd
		WHERE a.acct_dv = '03' AND u.user_no = #{userNo}
		GROUP BY b.bank_nm, a.acct_no, a.acct_nick_nm, a.loan_nm, a.agmt_amt, a.bal, a.new_dt, a.expi_dt, a.loan_kind;
	</select>
	
	<select id="getAdminInoutAcctReportData" resultType="DailyInoutAcctReportVO">
		SELECT b.bank_nm, a.acct_no, a.acct_nick_nm,
		  SUM(CASE WHEN t.inout_dv = 2 THEN 1 ELSE 0 END) AS out_cnt,
		  SUM(CASE WHEN t.inout_dv = 2 THEN t.trsc_amt ELSE 0 END) AS total_out,
		  SUM(CASE WHEN t.inout_dv = 1 THEN 1 ELSE 0 END) AS in_cnt,
		  SUM(CASE WHEN t.inout_dv = 1 THEN t.trsc_amt ELSE 0 END) AS total_in,
		  a.agmt_amt AS loan_limit, a.bal AS bal, a.real_amt AS real_amt
		FROM account a
		JOIN bank_code b ON a.bank_cd = b.bank_cd
		LEFT JOIN inout_today t ON a.acct_no = t.acct_no
		where acct_dv = '01'
		GROUP BY b.bank_nm, a.acct_no, a.acct_nick_nm, a.agmt_amt, a.bal, a.real_amt;
	</select>
	
	<select id="getAdminTimeAcctReportData" resultType="TimeAcctReportVO">
		SELECT b.bank_nm, a.acct_no, a.acct_nick_nm,
		       a.loan_nm, a.agmt_amt,
		       a.expi_dt, a.pyat_amt, a.bal
		FROM account a
		JOIN bank_code b ON a.bank_cd = b.bank_cd
		WHERE a.acct_dv = '02'
		GROUP BY b.bank_nm, a.acct_no, a.acct_nick_nm, a.loan_nm, a.agmt_amt, a.expi_dt, a.cont_rt, a.bal;
	</select>
	
	<select id="getAdminLoanAcctReportData" resultType="LoanAcctReportVO">
		SELECT b.bank_nm, a.acct_no, a.acct_nick_nm,
		       a.loan_nm, a.agmt_amt, a.bal,
		       a.new_dt, a.expi_dt, a.loan_kind
		FROM account a
		JOIN bank_code b ON a.bank_cd = b.bank_cd
		WHERE a.acct_dv = '03'
		GROUP BY b.bank_nm, a.acct_no, a.acct_nick_nm, a.loan_nm, a.agmt_amt, a.bal, a.new_dt, a.expi_dt, a.loan_kind;
	</select>
	

	<select id="getAdminInoutReportData" resultType="InoutReportVO">
	    SELECT b.bank_nm, a.acct_no,
	           (SELECT bal FROM inout_past WHERE trsc_dt = #{startDt} AND acct_no = a.acct_no ORDER BY trsc_tm DESC LIMIT 1) AS before_bal,
	           SUM(CASE WHEN t.inout_dv = 1 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN 1 ELSE 0 END) AS in_cnt,
	           SUM(CASE WHEN t.inout_dv = 1 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN t.trsc_amt ELSE 0 END) AS in_sum,
	           SUM(CASE WHEN t.inout_dv = 2 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN 1 ELSE 0 END) AS out_cnt,
	           SUM(CASE WHEN t.inout_dv = 2 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN t.trsc_amt ELSE 0 END) AS out_sum,
	           (SELECT bal FROM inout_past WHERE trsc_dt = #{endDt} AND acct_no = a.acct_no ORDER BY trsc_tm DESC LIMIT 1) AS after_bal
	    FROM account a
	    JOIN bank_code b ON a.bank_cd = b.bank_cd
	    LEFT JOIN inout_past t ON a.acct_no = t.acct_no
	    WHERE a.acct_dv IN ('01', '02', '03')

	    <if test='bankCd != null and !bankCd.equals("null")'>
	        AND a.bank_cd = #{bankCd}
	    </if>
	    <if test='acctNo != null and !acctNo.equals("null")'>
	        AND a.acct_no = #{acctNo}
	    </if>
	    GROUP BY b.bank_nm, a.acct_no
	    ORDER BY a.bank_cd asc
	</select>
	
	<select id="getUserInoutReportData" resultType="InoutReportVO">
	    SELECT b.bank_nm, a.acct_no,
	           (SELECT bal FROM inout_past WHERE trsc_dt = #{startDt} AND acct_no = a.acct_no ORDER BY trsc_tm DESC LIMIT 1) AS before_bal,
	           SUM(CASE WHEN t.inout_dv = 1 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN 1 ELSE 0 END) AS in_cnt,
	           SUM(CASE WHEN t.inout_dv = 1 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN t.trsc_amt ELSE 0 END) AS in_sum,
	           SUM(CASE WHEN t.inout_dv = 2 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN 1 ELSE 0 END) AS out_cnt,
	           SUM(CASE WHEN t.inout_dv = 2 AND t.trsc_dt &gt;= #{startDt} AND t.trsc_dt &lt;= #{endDt} THEN t.trsc_amt ELSE 0 END) AS out_sum,
	           (SELECT bal FROM inout_past WHERE trsc_dt = #{endDt} AND acct_no = a.acct_no ORDER BY trsc_tm DESC LIMIT 1) AS after_bal
	    FROM account a
	    JOIN bank_code b ON a.bank_cd = b.bank_cd
	    JOIN user_account ua ON a.acct_no = ua.acct_no
	    LEFT JOIN inout_past t ON a.acct_no = t.acct_no
	    WHERE a.acct_dv IN ('01', '02', '03')
	    <if test='bankCd != null and !bankCd.equals("All")'>
	        AND a.bank_cd = #{bankCd}
	    </if>
	    <if test='acctNo != null and !acctNo.equals("All")'>
	        AND a.acct_no = #{acctNo}
	    </if>
	    AND ua.user_no = #{userNo}
	    GROUP BY b.bank_nm, a.acct_no
	    ORDER BY a.bank_cd asc
	</select>
	
	<select id="getLastBalanceDate" resultType="string">
        SELECT MAX(trsc_dt)
        FROM inout_past
        WHERE acct_no = #{acctNo} AND trsc_dt &lt; #{date}
    </select>
    
	<select id="getLastBalance" resultType="java.math.BigDecimal">
	    SELECT bal
	    FROM inout_past
	    WHERE acct_no = #{acctNo} AND trsc_dt = #{date}
	    ORDER BY trsc_tm DESC
	    LIMIT 1
	</select>
	
	<select id="getBalByAcctNo" parameterType="String" resultType="java.math.BigDecimal">
		SELECT bal FROM account WHERE acct_no = #{acctNo}
	</select>
    

	
</mapper>