<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhsk.iam.domain.user.model.mapper.UserMapper">
	<select id="checkExistsId" parameterType="String" resultType="int">
		SELECT EXISTS (SELECT id FROM user WHERE id=#{id}) AS flag
	</select>
	
	<select id="findAllEmail" resultType="String">
		SELECT email FROM user
	</select>
	
	<select id="checkPassword" parameterType="int" resultType="String">
		SELECT password FROM user WHERE user_no=#{userNo}
	</select>

	<select id="checkExistsUser" resultType="int">
		SELECT EXISTS (SELECT * FROM user)
	</select>
	
	<insert id="signup" parameterType="UserVO" useGeneratedKeys="true" keyProperty="userNo">
		INSERT INTO user (user_code, id, password, name, dept, email, phone) 
		VALUES (#{userCode}, #{id}, #{password}, #{name}, #{dept}, #{email}, #{phone})
	</insert>
	
	<update id="updateUser" parameterType="UpdateUserVO">
		UPDATE user 
		<set>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(userCode)">
				user_code=#{userCode}, 
			</if>			
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(password)">
				password=#{password}, 
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(name)">
				name=#{name}, 
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(dept)">
				dept=#{dept}, 
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(phone)">
				phone=#{phone}
			</if>
		</set> 
		WHERE user_no=#{userNo}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		DELETE FROM user WHERE user_no=#{userNo}
	</delete>
	
	<select id="findByUserNo" parameterType="int" resultType="DetailUserVO">
		SELECT user_no, user_code, id, name, dept, email, phone 
		FROM user 
		WHERE user_no=#{userNo}
	</select>
	
	<select id="findAllUser" resultType="DetailUserVO">
		SELECT user_no, user_code, id, name, dept, email, phone
		FROM user
		ORDER BY user_no ASC;
	</select>
	
	<select id="findAllDept" resultType="String">
		SELECT dept FROM department
	</select>
	
	<insert id="AddDept" parameterType="String">
		INSERT INTO department (dept) VALUES (#{dept})
	</insert>
	
	<update id="updateDept" parameterType="String">
		UPDATE department SET dept=#{newDept} WHERE dept=#{oldDept}
	</update>
	
	<delete id="deleteDept" parameterType="String">
		DELETE FROM department WHERE dept=#{dept}
	</delete>
	
	<insert id="insertMenuClick" parameterType="String">
		INSERT IGNORE INTO menu_click(menu_nm) VALUES (#{menuNm})
	</insert>
	
	<update id="updateMenuClick">
		UPDATE menu_click SET click_cnt = click_cnt + ${cnt} where menu_nm = #{menuNm}
	</update>
	
</mapper>
