<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhsk.iam.domain.user.model.mapper.UserMapper">
	<select id="checkDuplicateId" parameterType="String" resultType="int">
		SELECT EXISTS (SELECT id FROM user WHERE id='{id}') AS flag;
	</select>
	
	<insert id="signup" 
			parameterType="UserVO" 
			useGeneratedKeys="true" keyProperty="userNo">
		INSERT INTO user (id, password, name, dept, email, phone) 
		VALUES (#{id}, #{password}, #{name}, #{dept}, #{email}, #{phone})
	</insert>
	
	<update id="updateUser" parameterType="UpdateUserVO">
		UPDATE user 
		<set>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(userCode)">
				user_code=#{userCode}, 
			</if>			
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(password)">
				password=#{password}, 
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(name)">
				name=#{name}, 
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(dept)">
				dept=#{dept}, 
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(email)">
				email=#{email}, 
			</if>
			phone=#{phone}
		</set> 
		WHERE user_no=#{userNo}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		DELETE FROM user WHERE user_no=#{userNo}
	</delete>
	
	<select id="findByUserNo" parameterType="int" resultType="WithoutUserCodeUserVO">
		SELECT user_no, id, name, dept, email, phone 
		FROM user 
		WHERE user_no=#{userNo}
	</select>
	
	<select id="findAllUser" resultType="UserVO">
		SELECT user_no, user_code, id, name, dept, email, phone
		FROM user
		ORDER BY user_no ASC;
	</select>
	
</mapper>
